:root {
    --bgc: #141414;
    --main: #1F2024;
    --sec:#FFFFFF;
    --accent:#ec2223;

}

*{font-family: 'Montserrat', sans-serif;
}

.bgcolor{
    background-color: var(--bgc)
}

h1, h2, h3, h4, h5, p {
    color: var(--sec);
}


.masthead {
    height: 10vh;
    min-height: 400px;
    background-image: url('/img/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.box-color {
    background-color: var(--main);
}


.text-white {
    color: var(--sec);
}


.masthead1 {
    height: 10vh;
    min-height: 400px;
    background-image: url('/img/form.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.masthead2 {
    height: 10vh;
    min-height: 400px;
    background-image: url('/img/register.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.masthead3 {
    height: 10vh;
    min-height: 400px;
    background-image: url('/img/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.bg-custom {
    background-color: var(--main);
}


.navbar-light .navbar-nav .nav-link {
    color: var(--sec);
    border-bottom: solid 2px transparent;
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--sec);
    border-bottom: solid 2px transparent;
}

.navbar-light .navbar-brand {
    color: var(--sec);
}

.fsize {
    font-size: 35px;
}

#colorf1 {
    color: var(--accent);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: var(--sec);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: var(--accent);
    border-bottom: solid 2px var(--accent);
}


.dropdown-menu.show {
    display: block;
    background-color: var(--bgc);
}


.dropdown-item:hover, .dropdown-item:focus {
    color: var(--sec);
    background-color: var(--accent);
}

a.dropdown-item {
    color: var(--sec);
}

.navbar-light .navbar-toggler {
    color: var(--accent);
    border-color: var(--accent);
}

.toggler-red {
    color: var(--accent);
}

.btn-primary {
    color: var(--sec);
    background-color: var(--accent);
    border-color: var(--accent);
}

.btn-primary:hover {
    color: var(--sec);
    background-color: #ba0000;
    border-color: #ba0000;
}

.footer-color {
    background-color: var(--main);
}